In [1]:
import pandas as pd
import sqlite3
import os
import glob
import counter

# if not os.getcwd().endswith('/run'):
#     os.chdir('run')

RUN_FOLDER = 'run'
DBNAME = f"{RUN_FOLDER}/state.db"

In [2]:
# with sqlite3.connect(DBNAME) as conn:
#     df = pd.read_sql("SELECT * FROM pages", conn)
# df

In [3]:
# with sqlite3.connect(DBNAME) as conn:
#     db_words_count = pd.read_sql("SELECT * FROM words ORDER BY count DESC, word ASC", conn)
# db_words_count[:10]

In [5]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages", conn)
    db_words_count = pd.read_sql("SELECT * FROM words ORDER BY count DESC, word ASC", conn)

display(df.groupby('error')['sid'].count().to_frame().sort_values('sid', ascending=False))
display(df.groupby('status')['sid'].count().to_frame().sort_values('sid'))

print(f'pages files: {len(glob.glob(f'{RUN_FOLDER}/words/**/*.*', recursive=True))}')
print(f' text files: {len(glob.glob(f'{RUN_FOLDER}/words/**/*.*', recursive=True))}')
print(f' word files: {len(glob.glob(f'{RUN_FOLDER}/words/**/*.*', recursive=True))}')

total_word_count, _ = counter.summ_counters_folder(f'{RUN_FOLDER}/words')
total_word_count_df = pd.DataFrame(total_word_count.items(), columns=['word','count']).sort_values(['count', 'word'], ascending=[False, True]).reset_index(drop=True)
display(total_word_count_df[:10])
print(f'Files word count identical to DB word count - {db_words_count.equals(total_word_count_df)}')

                                               sid
error
PageException(simulated page parsing error)     30
PageException(Non-Retryable HTTP error [404])    7
ConnectionError(simulated ConnectionError)       6
PageException(Non-Retryable HTTP error [401])    6
PageException(Non-Retryable HTTP error [400])    5
PageException(Non-Retryable HTTP error [501])    5
Timeout(simulated Timeout)                       5
PageException(Non-Retryable HTTP error [403])    4
RetryableError(Retryable HTTP error [429])       1
RetryableError(Retryable HTTP error [500])       1
RetryableError(Retryable HTTP error [502])       1
RetryableError(Retryable HTTP error [503])       1

         sid
status
failed    72
visited  456

pages files: 456
 text files: 456
 word files: 456

     word  count
0     the   7404
1      to   6619
2      in   5818
3       â   5389
4     and   4943
5      of   4435
6       a   4010
7   stock   3894
8     add   3178
9  basket   3096

Files word count identical to DB word count - True