In [196]:
import pandas as pd
import sqlite3
import os

if not os.getcwd().endswith('/run'):
    os.chdir('run')

DBNAME = "state.db"

In [197]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages", conn)
df

,sid,url,depth,status,attempts,inserted_at,last_attempt,error
0,1,https://books.toscrape.com/index.html,0,visited,1,2025-07-09 14:04:33,2025-07-09 14:04:33,None
1,2,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-09 14:04:33,2025-07-09 14:04:34,None
2,3,https://books.toscrape.com/catalogue/category/...,1,visited,2,2025-07-09 14:04:33,2025-07-09 14:04:37,None
3,4,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-09 14:04:33,2025-07-09 14:04:39,None
4,5,https://books.toscrape.com/catalogue/category/...,1,visited,1,2025-07-09 14:04:33,2025-07-09 14:04:40,None
...,...,...,...,...,...,...,...,...
486,487,https://books.toscrape.com/catalogue/the-long-...,2,queued,0,2025-07-09 14:05:51,None,None
487,488,https://books.toscrape.com/catalogue/how-music...,2,queued,0,2025-07-09 14:06:16,None,None
488,489,https://books.toscrape.com/catalogue/foolproof...,2,queued,0,2025-07-09 14:06:16,None,None
489,490,https://books.toscrape.com/catalogue/page-1.html,2,queued,0,2025-07-09 14:06:16,None,None
490,491,https://books.toscrape.com/catalogue/page-3.html,2,queued,0,2025-07-09 14:06:16,None,None

In [198]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM pages WHERE status = 'failed'", conn)
df.groupby('error')['sid'].count().to_frame().sort_values('sid', ascending=False)

                                               sid
error
PageException(simulated page parsing error)     24
PageException(Non-Retryable HTTP error [401])    7
PageException(Non-Retryable HTTP error [403])    6
PageException(Non-Retryable HTTP error [404])    6
PageException(Non-Retryable HTTP error [501])    6
PageException(Non-Retryable HTTP error [400])    5
Timeout(simulated Timeout)                       4
ConnectionError(simulated ConnectionError)       3
RetryableError(Retryable HTTP error [503])       1
RetryableError(Retryable HTTP error [504])       1

In [200]:
with sqlite3.connect(DBNAME) as conn:
    df = pd.read_sql("SELECT * FROM words ORDER BY count DESC LIMIT 50", conn)
df

         word  count
0         the   5483
1          to   5022
2          in   4518
3           Ã¢   4122
4         and   3701
5          of   3264
6       stock   3092
7           a   2989
8         add   2557
9      basket   2478
10      books   1474
11         is   1360
12          s   1257
13        for    983
14        tax    918
15    product    917
16       this    742
17     scrape    724
18        her    719
19       with    648
20       that    626
21      price    620
22  available    616
23          0    616
24       love    581
25       have    561
26         on    554
27        you    553
28         we    511
29        his    507
30         it    492
31         no    480
32       more    468
33       home    450
34         as    433
35       were    431
36    fiction    420
37       from    413
38       here    411
39      being    410
40        she    405
41       real    393
42    warning    369
43    meaning    369
44   assigned    364
45        web    363
46    sandbox    362
47    scraped    362
48        new    362
49       demo    362